body {
  font-family: 'Pixelify Sans', sans-serif;
  background-color: #eee;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.between {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.box {
  font-size: 4rem;
  background-color: black;
  color: white;
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.message {
  font-size: 1.5rem;
  color: red;
  height: 30px;
}

.input-container {
  margin: 20px;
}

#guessInput {
  font-size: 1.5rem;
  padding: 10px;
  width: 200px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.check {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin-left: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 30px 0px;
}

.score-section,
.highscore-section {
  font-size: 1.5rem;
}

.score,
.highscore {
  display: block;
  font-size: 2rem;
  margin-top: 10px;
  font-weight: bold;
}

.again {
  font-size: 1.5rem;
  padding: 10px 30px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

footer{
  font-size: 1rem;
  font-family:Arial, Helvetica, sans-serif;
}
